.btn {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border-width: 1px;
  border-style: solid;
  font-weight: 600;
  cursor: pointer;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn-white:hover {
  background-color: #0000000f;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-black:hover {
  background-color: #000000b3;
}

.btn-lt-green {
  background-color: #d4e9e2;
  color: #1e3932;
  border-color: #1e3932;
}

.btn-lt-green:hover {
  background-color: #1e39321a;
}

.btn-dart-green {
  background-color: #006241;
  color: #fff;
  border-color: #fff;
}

.btn-dart-green:hover {
  background-color: #ffffff1f;
}
