nav {
  display: flex;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 3px #0000001a, 0 2px 2px #0000000f, 0 0 2px #00000012;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-menu > ul {
  display: flex;
  text-transform: uppercase;
  margin-left: 2rem;
  list-style: none;
}

.nav-menu li {
  padding: 0 1rem;
  cursor: pointer;
}

.nav-menu li:hover {
  color: #00754a;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 20rem;
  justify-content: space-between;
}

.nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00754a;
}

.nav-links > p {
  padding: 0 1rem;
}

.nav-logo {
  height: 3rem;
  width: 3rem;
}
