.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
}

.section-content {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.section-content p:nth-child(2) {
  margin-top: 1.5rem;
}
