footer {
  box-shadow: 0 -1px 3px #0000001a, 0 -2px 2px #0000000f, 0 0 2px #00000012;
  margin-top: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.links-section {
  display: flex;
}

.hr-line {
  margin: 2rem 0;
}

.svg-list {
  list-style: none;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.term-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 2rem 0;
}

.term-links a {
  text-decoration: none;
  color: #000000de;
}

.term-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .term-links {
    flex-direction: column;
  }

  .term-links span {
    display: none;
  }

  .term-links p {
    padding: 1rem 0;
  }

  .svg-list {
    width: 50%;
  }
}
